GHL_PRIVATE_INTEGRATION_TOKEN=your_private_integration_token
GHL_LOCATION_ID=your_location_id
GHL_CALENDAR_ID=your_calendar_id

RETELL_API_KEY=your_retell_api_key
RETELL_AGENT_ID=your_retell_agent_id
RETELL_FUNCTION_SECRET=your_random_function_secret
AVA_ALLOWED_ORIGINS=https://valdesagency.com
AVA_EXTERNAL_WRITES_ENABLED=false

VALDES_CRM_API_BASE=https://services.leadconnectorhq.com
VALDES_CRM_API_VERSION=2021-07-28
